<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
    <!-- stats -->
    <div class="row">
	    <div class="col-lg-12 col-xsm-6">
			<section class="panel panel-default">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Toma de Inventario</strong></div>
				<div class="panel-body">
				<span id="results">Activar Scanner de Código de Barras</span>
				<br/>
				<br/>
				<button class="btn btn-primary" onclick="app.escanear();">
					<span class="glyphicon glyphicon-arrow-down">
					</span>
					Scannear Producto
				</button>
				<br/>
				<br/>
				</div>
			</section> 
        </div>
    </div>
    <!-- end stats -->
</div>



  